<div class="home">    
    <p class="welcome">Welcome to Wi-Fi Sharing Alpha</p>
    <div class="description">        
        <p>We provide a platform to share wi-fi via drones.</p>
        <p>Order wi-fi to any place right now or sign up to get possibilty ordering for certain time or make a schedule.</p>
    </div>
    <div>
        <button class="btn btn-lrg">Order wi-fi now!</button>
        <button class="btn btn-lrg" routerLink="/sign-up">Sign up!</button>
    </div>
    <div>
        <p class="details">You can click <a routerLink="/details-info">here</a> to learn more details.</p>
    </div>
</div>
