<form class="form center shadow">
    <p class="form-group">
        <span class="sign-up-text">You don't have an account yet?</span> 
        <span class="sign-up-link" routerLink="/sign-up"> Create one!</span></p>
    <div class="form-group">
        <span class="form-label">Email: </span>
        <input class="input form-input" type="text">
    </div>
    <div class="form-group">
        <span class="form-label">Password: </span>
        <input class="input form-input" type="password">
    </div>
    <button class="btn-outline">Sign in</button>
</form>
