.home {
    text-align: center;
    font-size: 2.5rem;
    cursor: pointer;
    color: #ffad58;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px #bbb;
    margin-top: 5rem;
}

.center {
    margin: auto;
}

.form {    
    margin-top: 10rem;
    background: #ffad58;
}

.sign-in-btn {
    margin-bottom: 20px;
    margin-top: 30px;
}

.sign-up-text {
    color: #fff;
}

.sign-up-link {
    color: #fff;
    font-weight: 600;
    margin-left: 3px;
    cursor: pointer;
}

.form-label {
    color: #fff;
    margin-right: 2rem;
}

.form-input {
    border: #eb7c60 1px solid;
}