.navbar{
    height: 40px;
    max-height: 40px;
    background-color: #ffad58;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.name {
    max-height: 30px;
    font-size: 30px;
    margin-left: 10px;
    color: #fff;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.left {
    display: flex;
    justify-self: end;
    margin-right: 20px;
}

.shadow {
    box-shadow: 0px 10px 15px gray;
}

.input {
    transition: width 0.5s;
}

.input:focus {
    width: 600px;
}